# User-specific files

requirements_updated.txt
StdOut.txt
StdErr.txt

data_*.json
_data_*.json

param_*.json
_param_*.json

*.log
*.svg
*.png

__pycache__/
*output/

# Sphinx documentation
docs/_build/
!docs/images/*
!docs/examples/*

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Local simulations
Suite_*/